body
	height: 100%
	margin: 0px
	padding: 0px
	overflow: hidden
	background: rgb( 10, 10, 10 )

ul, li
	margin: 0px

h1
	font-weight: bold

.header
	background: crimson
	height: 80px
	// margin-bottom: 20px

.tempBorder
	// border: 1px solid black
	height: 280px

.tempNoPoster
	width: 154px
	height: 100px
	background: black
	color: white

// webgl
#canvas-container
	border: 1px solid black

canvas
	display: block
	vertical-align: top

#stats
	position: absolute
	right: 0px
	bottom: 0px
	-webkit-user-select: none

.posterElem:hover
	cursor: pointer
	border: 2px solid white
