@import 'color'

.movieDetail
	color: $w1
	height: 100%
	width: 100%
	pointer-events: none

.movie-content
	+pos-abs( bottom )
	padding: 20px 35px
	background: $col-primary
	width: 100%
	box-sizing: border-box
	pointer-events: auto

.backdrop
	+pos-abs
	+full-width-height
	background-size: cover
	background-position: center
	pointer-events: auto

.close-btn
	+pos-abs( top 35px right 30px )
	font-size: 26px
	cursor: pointer

.add-btn
	+size( 160px, 35px )
	border-radius: 3px
	margin-top: 5px
	border: none
	font-size: 16px
	cursor: pointer

.bookmark-btn
	cursor: pointer
