<div>
<div class="collection-modal-backdrop-root" ng-click="modal.closeModal()"></div>
<div class="collection-modal-backdrop">

	<div class="collection-modal">
		<h4> {{ modal.collectionModalService.getActiveItem().title }} </h4>
		<div class="collection-modal-body-left">

			<img ng-src="http://image.tmdb.org/t/p/w154/{{ modal.collectionModalService.getActiveItem().poster_path }}">
		</div>

		<i class="fa fa-chevron-left collection-close-btn" ng-click="modal.closeModal()"></i>

		<div class="collection-modal-body-right">

			<!-- <button ng-click="modal.openEditor()">+ NEW COLLECTION</button> -->
			<!-- <i hover-class hover="fa-file" leave="fa-file-o" class="fa fa-file-o new-collection-btn" ng-click="modal.openEditor()"></i> -->

			<ul>
				<li class="collection-modal-row"
					ng-repeat="collection in modal.movieCollection.getCollection()"
					ng-click="modal.addToCollection( modal.collectionModalService.getActiveItem().id, collection.collectionName )"
				>
					<div class="col-label">
						{{ collection.collectionName }}
					</div>
					<div class="col-icon">
						<i
							class="fa fa-check"
							ng-if="modal.movieCollection.hasItem( modal.collectionModalService.getActiveItem().id, collection.collectionName )"
							ng-click="modal.addToCollection( modal.collectionModalService.getActiveItem().id, collection.collectionName )"
						></i>
					</div>
				</li>
				<li class="collection-modal-row new-collection-btn" ng-click="modal.openEditor()">
					<i hover-class hover="fa-file" leave="fa-file-o" class="fa fa-file-o new-collection-btn">
					</i>
					New Collection
				</li>
			</ul>


		</div>

		<div class="collection-add-page" ng-show="modal.addingNewCollection">

			<input type="text" placeholder="Collection Title" ng-model="newCollectionName">
			<br><br>
			<button class="modal-btn-create" type="button" ng-click="modal.createNewCollection()">Create</button>
			<button class="modal-btn-cancel" type="button" ng-click="modal.closeEditor()">Cancel</button>
		</div>

	</div>

</div>
</div>
