<div class="collection-modal-backdrop">

	<div class="collection-modal">
		<h4> {{ modal.collectionModalService.getActiveItem().title }} </h4>
		<div class="collection-modal-body-left">

			<img ng-src="http://image.tmdb.org/t/p/w154/{{ modal.collectionModalService.getActiveItem().poster_path }}">
		</div>

		<i class="fa fa-close collection-close-btn" ng-click="modal.collectionModalService.close()"></i>

		<div class="collection-modal-body-right">

			<button ng-click="modal.openEditor()">+ NEW COLLECTION</button>

			<ul>
				<li class="collection-modal-row" ng-repeat="collection in modal.movieCollection.getCollection()">
					<div class="col-label">
						{{ collection.collectionName }}
					</div>
					<div class="col-icon">
						<i
							class="fa fa-plus"
							ng-if="!modal.movieCollection.hasItem( modal.collectionModalService.getActiveItem().id, collection.collectionName )"
							ng-click="modal.addToCollection( modal.collectionModalService.getActiveItem().id, collection.collectionName )"
						></i>
					</div>
				</li>
			</ul>


		</div>

		<div class="collection-add-page" ng-show="modal.addingNewCollection">

			<input type="text" placeholder="Collection title" ng-model="newCollectionName">
			<br><br>
			<button type="button" ng-click="modal.createNewCollection()">Create</button>
			<button type="button" ng-click="modal.closeEditor()">Cancel</button>
		</div>

	</div>

</div>
