<div id="signup">
	<div class="sign-container">
		<div class="sign-body">
			<h1>HELIX</h1>
			<form name="signup.form" ng-submit="signup.signup()" novalidate>

				<div class="sign-input">
					<i class="fa fa-user sign-input-icon"></i>
					<input placeholder="Email" type="email" ng-model="signup.user.email" required>
				</div>

				<div class="sign-input">
					<i class="fa fa-lock sign-input-icon"></i>
					<input placeholder="Password" type="password" ng-model="signup.user.password" required>
				</div>

				<div class="sign-input">
					<i class="fa fa-lock sign-input-icon"></i>
					<input placeholder="Confirm password" type="password" ng-model="signup.user.confirmPassword" required>
				</div>

				<button class="block-btn btn-navy" type="submit" ng-disabled="signup.form.$invalid || signup.form.$submitted">Sign up</button>

			</form>
		</div>
	</div>
</div>
