<div id="signup">

	<h1> SIGN UP </h1>

	<form
		name="signup.form"
		ng-submit="signup.signup()"
		novalidate>

		<input
			placeholder="Email"
			type="email"
			name="email"
			ng-model="signup.user.email"
			required>

		<input
			type="password"
			placeholder="Password"
			ng-model="signup.user.password"
			required>

		<input
			type="password"
			placeholder="Confirm password"
			ng-model="signup.user.confirmPassword"
			required>

		<button type="submit"
			ng-disabled="signup.form.$invalid || signup.form.$submitted">Sign up</button>

	</form>

	<pre>{{ signup | json }}</pre>

</div>
